.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    padding: 2rem;
    background-color: #E1D5D9;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: hidden;
}

.modal-text {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.modal-title {
    font-weight: bold;
    margin: 0 0 1vh 0;
}

.modal-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.modal-p {
    margin: 0;
    padding: 1vh;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.product-image {
    width: 100%;
    max-width: 20vw;
    height: 30vh;
    padding: 30px;
}

.no-image {
    font-style: italic;
    color: #888;
    padding: 30px;
    text-align: center;
}

.button {
    width: 100%;
    max-width: 8vw;
    height: 7vh;
    position: fixed;
    right: 1vw;
    top: 2vh;
}
