.sidebar-container {
    width: 250px;
    transition: width 0.3s ease;
    overflow: hidden;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    padding: 1rem;
    box-sizing: border-box;
}

.categories-box {
    width: 100%;
    max-width: 250px;
    padding: 0.5rem;
    color: #1C252C;
    background-color: #E1D5D9;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar-closed {
    width: 0;
    padding: 0;
    border: none;
}

.filter-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    color: black;
}

.enter-box {
    width: 100%;
    max-width: 200px;
    padding: 0.5rem;
    color: #1C252C;
    background-color: #E1D5D9;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.headers-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.enter-box {
    flex: 1;
    margin-right: 0.5rem;
}

.search-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: rebeccapurple;
}