.nav {
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #1C252C;
    color: #E1D5D9;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-item {
    cursor: pointer;
    padding: 0 1rem;
}

.nav-item:hover {
    color: #B7A7AE;
}